body {
	padding: 0px;
	margin: 0px;
	min-width: 1000px;
}

.head {
     background-color: #f9f9f9;
     padding-top: 80px;
     padding-bottom: 10px;
}

.pizza {
	float: left;
	font-size: 100px;
	color: #ec1a1a;
	font-style: italic;
	font-variant: inherit;
	-webkit-text-stroke: 2px black;
	padding-left: 120px;
	cursor: default;
	margin: 0px;
	padding-bottom: 20px;
}

.pinfo {
	margin-top: 115px;
	font-size: 25px;
	margin-left: 200px;
	color: #696969;
	cursor: default;
}

.menu {
	float: right;
	margin: 0px;
	padding: 0px;
}

.link {
	text-decoration: none;
	text-transform: 0.19s;
	color: black;
	font-size: 30px;
	margin-right: 80px;
	padding: 5px;
	font-style: italic;
	font-variant: inherit;
}

.link:hover {
	background: #ec1a1a;
	color: white;
	border-radius: 60px;

}


.mid {
	display: flex;
	padding-left: 30px;
	padding-right: 30px;
	margin: 1px;
	flex-wrap: wrap;
	justify-content: space-around;

}

.contpizza {
	display: block;
	float: left;
	width: 300px;
	height: 600px;
	transition: 0.2s all;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 30px;
	margin-top: 30px;

}

.contpizza:hover {	
	  -webkit-transform: scale(1.15);
  -ms-transform: scale(1.15);
  transform: scale(1.15);
}

.zak {
	text-decoration: none;
	color: black;
}

.img {
	text-align: center;
}


.NameP {
	font-size: 30px;
	cursor: default;
}

.Composition {
	color: #696969;
	float: left;
	padding-left: 1px;
	font-size: 20px;
	cursor: default;
}


.footer {
	background-image: url(../img/foot.jpg);
	padding-top: 40px;
	background-size: 500px;
	color: #dfdfdf;
	padding-left: 50px;
	padding-bottom: 20px;
}

.cost {
	padding-top: 100px;
	font-size: 26px;
	vertical-align: bottom;	
	text-align: center;
	cursor: default;
}

.right {
		
		display: block;
		float: right;
		margin-top: -82px;
		padding-right: 60px;
}

.social {
	font-size: 20px;
	text-decoration: none;
	color: #dfdfdf;
	-webkit-text-stroke: 0.1px #4d1919;
}

li {
	list-style-type: none;
}

.phone{
	text-align: center;
	font-size: 25px;
	-webkit-text-stroke: 0.3px #4d1919;

}

.mid {
		padding-bottom: 30px;
}

.footname {
	padding-left: 50px;
	font-size: 20px;
	-webkit-text-stroke: 0.1px #4d1919;
}

.midzak {
   padding: 150px;
}

.order {
	border-radius: 60px;
	background-color: #f2f2f2;
	padding-top: 40px;
	padding-left: 50px;
	padding-bottom: 40px;
	padding-right: 50px;
	transition: 0.2s;
}

.order:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}


.zakli {
	font-size: 24px;
	margin-top: 20px;
}


input { 
  -moz-appearance: textfield;
	width: 200px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

.house {
	width: 91px;
}



input::-webkit-inner-spin-button { 
  display: none;
}

.ord {
	text-align: center;
	font-size: 50px;
	margin: 25px;
}

.check {
	float: right;
	ont-weight: bold;
    color: rgb(68,68,68);
    text-decoration: none;
    user-select: none;
    outline: none;
    border: 1px solid ;
	border-radius: 2px;
    background: #F6F6f6;
 	transition: 0.2s;
 	-webkit-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
}

.check:hover {
	border: 1px solid rgb(198,198,198);
	background: #f7f7f7;
	box-shadow: 0 1px 2px black;
}

.check:active {
  border: 1px solid black;
  background: #f0f0f0;
  box-shadow: 0 1px 2px black;
}

.choose {
	float: right;
}

#info {
	text-align: right;
	font-size: 24px;
	margin-bottom: 0px;

}

.info {
	text-align: right;
	font-size: 15px;
	margin-top: 0px;
	margin-right: 14px;
}

select {
	width: 150px;
	font-size: 13px;
	padding: 6px 0 4px 10px;
	border: 1px solid #cecece;
	background: #F6F6f6;
	border-radius: 8px;
}

.AboutName {
	font-size: 30px;
	cursor: default;
	margin: 0px;
}

.AboutC {
	color: #696969;
	font-size: 20px;
	cursor: default;
	text-align: justify;
	font-weight: normal;
}

.AboutD {
	border-radius: 60px;
	background-color: #f2f2f2;
	padding-top: 40px;
	padding-left: 50px;
	padding-bottom: 40px;
	padding-right: 50px;
	transition: 0.2s;
}

#amount {
	width: 91px;
}

.AboutD:hover {
	box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.About {
   padding-top: 100px;
   padding-left: 50px;
   padding-right: 450px;
   padding-bottom: 200px;
}